HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
secrets-*.properties
localhost.json
heroku.json

.project
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
javascript/node_modules
javascript/.pnp
javascript/.pnp.js
javascript/# testing
javascript/coverage
javascript/# next.js
javascript/.next/
javascript/out/
javascript/# production
javascript/build
javascript/# misc
javascript/.DS_Store
javascript/.env*
javascript/production.env
javascript/# debug
javascript/npm-debug.log*
javascript/yarn-debug.log*
javascript/.now
javascript/yarn-error.log*
