app.namespace=https://YOUR-HEROKU-APP.herokuapp.com
app.admin.emails=phtcon@ucsb.edu

auth0.domain=YOUR-AUTH0-TENANT.us.auth0.com
auth0.clientId=FILL-IN-AUTH0-CLIENT-ID

app.ucsb.api.consumer_key=FILL-IT-IN
spring.data.mongodb.uri=FILL-IT-IN


security.oauth2.resource.id=https://YOUR-HEROKU-APP.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
