auth0.domain=FILL-IT-IN
auth0.clientId=FILL-IT-IN
security.oauth2.resource.id=https://${auth0.domain}/api/v2/
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
frontend.domain=http://localhost:3000